body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(217, 255, 0);
}

.inout-area {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 30px;
  background-color: rgb(255, 0, 255);
}

.event-file-name {
  margin-left: 4px;
}

.load-area {
  margin-left: 10px;
}

.edit-area {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  height: calc(100% - 55px);
  background-color: rgb(120, 163, 154);
}


.event-list {
    width: 200px;
    height: 100%;
}

.event-list select {
  width: 100%;
  height: calc(100% - 30px);
}

.event {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.event-left {
  height: 100%;
}

.event-name {
  display: flex;
  flex-direction: column;
}

.conditions {
  margin-top: 20px;
}

.event-name input {
  width: 150px;
}

.event-right {
  margin-left: 20px;
  width: 800px;
  height: 100%;
}

.commands {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.command-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  background-color: rgb(0, 255, 255);
  overflow: scroll;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  margin: auto;
  background: white;
}

.command-menu {
  display: block;
  flex-direction: column;
  margin-left: 20px;
}

.command-item {
  display: flex;
  flex-direction: row;
}